{% load static %}

<!DOCTYPE html>
<html land="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">

    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'main/png/favicon.png' %}"/>
</head>
<body>

{% block content %}

{% endblock %}

<div class="main_box">
    {% if is_main %}
        <a class="name" href="{% url 'main' %}">ИНГОСЗДРАВ</h1>
        {% if title %}
            <div style="display: flex" class="sign_up_box">
                <a style="text-decoration: none; color: white; position: relative; right: 10px;" href="{% url 'area1' %}">{{ title }}</a>
                <img src="{% static 'main/png/person_icon_main.png' %}" style="width: 40px; position: relative; top: -5px">
            </div>
            
        {% else %}
            <a href="{% url 'sign_up' %}" class="sign_up_box">Зарегистрироваться</a>
            <a href="{% url 'sign_in' %}" class="sign_in_box">Войти</a>
        {% endif %}
    {% else %} 
        <a class="name_not_main" href="{% url 'main' %}">ИНГОCЗДРАВ</h1>
        {% if title %}
            <div style="display: flex" class="sign_up_box_not_main">
                <a style="text-decoration: none; color: #165ab7; position: relative; right: 10px;" href="{% url 'area1' %}">{{ title }}</a>
                <img src="{% static 'main/png/person_icon.png' %}" style="width: 40px; position: relative; top: -5px">
            </div>
        {% else %}
            <a href="{% url 'sign_up' %}" class="sign_up_box_not_main">Зарегистрироваться</a>
            <a href="{% url 'sign_in' %}" class="sign_in_box_not_main">Войти</a>
        {% endif %}
    {% endif %}
</div>

</body>
</html>