{% extends 'main/list.html' %}

{% load static %}

{% block title %}
Личный кабинет
{% endblock %}


{% csrf_token %}



{% block personal_area_content %}
<div class="edit_info_main_box">
    <h2>Редактировать информацию</h2>
    <p>Внимание! Просим указывать настоящие данные, т.к. они влияют на оценку вашего физического состояния.</p>
    <form method="POST" action="{% url 'area2' %}">
        {% csrf_token %}
        <input name="second_name" type="text" placeholder="Фамилия" class="edit_info_name" value="{{ user.last_name }}">
        <input name="name" type="text" placeholder="Имя" class="edit_info_name" value="{{ user.first_name }}">
        
        <input name="last_name" type="text" placeholder="Отчество" class="edit_info_name" value="{{ user.email }}">
        
        <p>Пол:</p>
        <select name="gender" class="edit_info_gender" value="{{ gender }}">
            {% if gender %}
                <option value="Мужской">Мужской</option>
                <option value="Женский" selected>Женский</option>
            {% else %}
                <option value="Мужской" selected>Мужской</option>
                <option value="Женский">Женский</option>
            {% endif %}
        </select>

        <p>Дата рождения (ММ-ДД-ГГГГ):</p>
        <input name="birth_date" type="date" class="edit_info_birth_date" value="{{ birth_date }}">

        <p>Вес (КГ):</p>
        <input name="weight" type="number" step="0.1" class="edit_info_weight" value="{{ weight }}">


        <button type="submit" class="edit_info_save_button">
            <p>Сохранить</p>
        </button>
    </form>
</div>

{% endblock %}